.main_heading{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.login{
  background-color: #0074D9;
  display: block;
  font-family: 'Hi Melody', cursive;
  font-size: 2.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  max-height: 20%;
  padding: 5%;
  text-align: center;
  color: #111111;
  text-decoration: none;
  width : 25%;

}

.signup{
  background-color: #DDDDDD ;
  display: block;
  font-family: 'Hi Melody', cursive;
  font-size: 2.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  max-height: 20%;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  width: 25%;

}
