.login{
  height : 50%;
  width: 25%;
  margin: auto;
  padding: 10px;
}

.login input{
  padding: 2px;
  height: 2em;
  font-family: 'Hi Melody', cursive;
  font-size: 1.25em;
}

.login button{
  font-family: 'Hi Melody', cursive;
  font-size: 1.25em;
}
form{
  padding: 10px;
  margin-top: 33%;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
  font-family: 'Hi Melody', cursive;
  font-size: 3em;
}
