<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>MaAst Portal</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/init.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
</head>
<body>
  <style>
    background-image : {{url_for('static', filename="images/init_background.jpg")}};
  </style>
  <h1 class="main_heading">Welcome to MaAst portal</h1>

  <a href="/login" class="login">Login</a>
  <a href="/signup" class="signup">Sign-up</a>

  </body>
</html>
