<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
</head>
  <body>
    <h1>Please enter your login credentials</h1>
    <div class="login">
    <form method="POST">
      <input name="email" type="text" placeholder="Email" id="email"></input>
      <input name="password" type="password" placeholder="Password" id="password"></input><br/>
      <button type="submit">Login</button>
    </form>
  </div>
  </body>
</html>
