<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Sign-Up</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/signup.css')}}">
  </head>
  <body>
    <div class="signup">
    <form method="POST">
      <input type="text" name="email" placeholder="email"></input><br/>
      <input type="text" name="username" placeholder="username"></input><br/>
      <input type="password" name="password" placeholder="password"></input><br/>
      <button type="submit">signup</button>
    </form>
  </div>
  </body>
</html>
