<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <script src="{{url_for('static', filename='js/socketio_client.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <!--script src="{{url_for('static', filename="js/math_tex.min.js")}}"></script>
    <script type="text/javascript" async="" src="{{url_for('static', filename="js/mathjax.min.js")}}"></script-->
  </head>

  <body>
  <script type="text/javascript">
    $(document).ready(function(){
      var elem = document.getElementById('chat');
      elem.scrollTop = elem.scrollHeight;

      var socket = io.connect('http://192.168.43.254:8000')

    /*  socket.on('connect', function(){
        socket.send("User has conneced")
      });
*/
      socket.on('message', function(msg){
        $("#mesages").append('<div/>'+'<li/>'+msg);
      });

      $('#sendbutton').on('click', function(){
        socket.send($('#myMessage').val());
        console.log("client message sent")
          $('#myMessage').val('');
          });
      $(document).on("click", "#sendbutton", function(){
    location.reload(true);
      });
    });
     setTimeout(function(){
    //     var msg = $('#myMessage').val();
      var msg = document.getElementById('myMessage').innerHTML;
     console.log(msg)
     window.location.reload(1);
     document.getElementById('myMessage').innerHTML = msg;
  }, 10000);

  $(document).on("click","#wiki",function(){
    document.reload(false);
  });
  function refresh(){
    setTimeout(function(){
   window.location.reload(1);
    }, 10000);

  }

  </script>
    <!--form method="POST"/-->
      <!-- the chat part-->
      <div style="height:300px;width:50" onload="refresh()">
        <div style="overflow:auto; height:inherit; overflow-x:hidden" id="chat"/>
        <ul id="messages">
          {% for i in messages %}
            <li>{{ i }}</li>
          {% endfor %}
        </ul>
      </div>
      <textarea rows="15" cols="92" id="myMessage"></textarea><br/>
      <button id="sendbutton">Send</button><br/><br/>
      <form method="POST" action="{{url_for('find_query')}}">
          <input type="text" name="query" placeholder="Enter query here"/>
          <button type="submit" id="wiki">Search</button>
      </form>
      <iframe src="content.html" class="frame" hidden></iframe>


  </body>
</html>
