<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <script src="{{url_for('static', filename='js/socketio_client.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML-full"></script>
    <script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML-full"></script-->

  </head>

  <body>
  <script type="text/javascript">
    $('document').ready(function(){
        var socket = io.connect(window.location.href);
        console.log(window.location.href)

        socket.on('message', function(msg){
          $("#messages").append('<li>'+msg+'</li>');
        })

        socket.on('broadcast', function(msg){
          $("#messages").append('<li>'+msg+'</li>');
        });

        $('#sendbutton').on('click', function(){
            socket.send($('#myMessage').val());
            $('#myMessage').val('');
        });
        socket.on('connect', function(){
          socket.emit('url',window.location.href);
        });
    });
  </script>
      <!-- the chat part-->
      <div style="height:300px;width:50" onload="refresh()">
        <div style="overflow:auto; height:inherit; overflow-x:hidden" id="chat"/>
        <ul id="messages">
          {% for i in messages %}
            <li/>{{ i }}
          {% endfor %}
        </ul>
      </div>
      <textarea rows="15" cols="92" id="myMessage"></textarea><br/>
      <button id="sendbutton">Send</button><br/><br/>
      <form method="POST" action="{{url_for('find_query')}}">
          <input type="text" name="query" placeholder="Enter query here"/>
          <button type="submit" id="wiki">Search</button>
      </form>
      </body>
</html>
