<!doctype html>
<html lang='en'>

<head>
	<title>
		{{name}}
	</title>
</head>

<body>
	{% for x in chatdata %}
	<!--{% for y in x %}
	<pre>{{y}}</pre><br/>
	{% endfor %}
	<br/><br/> -->
	<p>
		Message : {{x[1]}}<br/>
		Senderid : {{x[2]}}<br/>
		Upvotes : {{x[3]}}<br/>
		Downvotes : {{x[4]}}<br/>
	</p>

	{% endfor %}
</body >