<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Gravity Points</title>
  
  
  
      <link rel="stylesheet" href="{{url_for('static',filename='css/gravity.css')}}">

  
</head>

<body>

  <canvas id="c"></canvas>
<div class="info">Click to add gravity point.</div>
  <script src='{{url_for("static",filename="js/kzymdn.js")}}'></script>

  

    <script  src="{{url_for('static',filename='js/gravity.js')}}"></script>




</body>

</html>
