<!Doctype html>
<html lang="en">

<head>
	<title>{{ userdata[2] }}'s Profile </title>
</head>

<body>
	Name  : {{ userdata[2] }}
	<br/>
	E-Mail  : {{userdata[4]}}
	<br/>
	Username  : {{userdata[1]}}
	<br/>
	Upvotes  : {{userdata[5]}}
	<br/>
	Downvotes   : {{userdata[6]}}
</body>